
.color_jewel{
    color: #9932cc;
}
.color_armor{
    color: #556b2f;
}
.color_weapons{
    color: #483d8b;
}
.color_cloth{
    color: green;
}

.color_wearied{
    color: #444;
}
.color_sacred{
    color: #b8860b;
}
.color_ancient{
    color: #a52a2a;
}
.color_perfect{
    color: #008b8b;
}
.color_great{
    color: #8b0000;
}
.color_superior{
    color: #4169e1;
}